/* history-row-table.css */
.history-row-table {  
  border-collapse: collapse;
  width: 100%;
}

.history-row-tbody {
  display: block; /* Change display to block to enable scrolling */
  max-height: 300px; /* Set maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 3px solid #aaa;
  padding: 2px;
}

.history-row-tr {
  border-bottom: 1px solid #ddd;
   /* Optional, for better table appearance */ */
}

.history-row-th,
.history-row-td {
  margin: 0;
  padding: 8px; /* Adjust as needed */
  text-align: left; /* Adjust alignment as needed */
  border-right: 1px solid #ddd; 
  /* Optional, for better table appearance */
}

.history-row-td {
  /* overflow-x: auto; */
  width: 80px;
  border: 1 px #ddd;
  padding: 8px;
  text-align: center;
  word-wrap: normal;
}

.history-row-th {
  width: 75px;
  margin: 0;
  border: 1px solid #ddd;
  padding; 8px;
  text-align: left;
}

.history-row-th:first-child {
  box-sizing: border-box;
  border: 2px solid #ddd; /* Optional, for better table appearance */
}
