engine-strict=false #allow unsupported node versions(silence EBADENGINE)
# loglevel=error # only show errors, not warnings
# save-exact=true # lock dependencies to exact versions
# package-lock=true # always create/use a package-lock.json
