.list-container-div {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  justify-content: center;
}

.list-p {
  list-style-type: none;
  color: aqua;
}

.list-routines-li {
  font-style: italic;
  list-style-type: none;
  text-decoration: none;
  color: aqua;
  text-align: right;
}
