.list-container-div {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  justify-content: center;
}

.list-p {
  list-style-type: none;
  color: aqua;
}

.list-routines-li {
  font-style: italic;
  list-style-type: none;
  text-decoration: none;
  color: aqua;
  text-align: left;
}

/*
menu/dropdown opens to view historical pattern of routines
ordered in columns, number of columns based on screen size
date | one  - two  - three
     | four - five - six

date | one  - two  - three
 
date | one  - two

date | one  - two  - three
 -   | four

date | one  - two  - three
 -   | four - five
*/
