form {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.ce-container-div {
  border: 2px rgb(39, 150, 201) dotted;
  padding: 2rem;
}

.ce-btn {
  background-color: rgb(39, 150, 201);
  color: #000;
  margin: 5px;
}

.ce-input-date {
  font-size: 1.25rem;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
}

.routine-container-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.error-notification {
  background-color: #f44336;
  color: #efefef;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
}

.pe-btn-yes {
  background-color: #efefef;
  color: #008000;
  /* color: #efefef;
  background-color: #008000; */
  font-weight: 600;
  margin-right: 10px;
}

.pe-btn-no {
  background-color: #efefef;
  color: #f44336;
  /* color: #efefef;
  background-color: #f44336; */
  font-weight: 600;
}
