@import url('../../css/colors.css');

.clock {
  font-style: italic;
  background: linear-gradient(
    to right,
    var(--aquatic),
    var(--aquatic),
    var(--aquatic),
    var(--aquatic),
    var(--fuchsia),
    var(--fuchsia),
    var(--fuchsia)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
