@import url('../../css/colors.css');

:root {
  --thumb-aquatic: rgb(8, 140, 170);
  /* --aquatic */
  --river: rgb(8, 140, 170);
  --thumb-river: rgb(8, 97, 170);
  --kapowski: rgb(234, 127, 145);
  --thumb-kapowski: rgb(254, 47, 90);
  --tangerine: rgb(253, 150, 47);
  --thumb-tangerine: rgb(248, 93, 6);
  --melon: rgb(150, 237, 107);
  --thumb-melon: rgb(63, 171, 9);
}

.bottle-display-div {
  display: flex;
  flex-direction: column;
}

.bottle-group-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottle-container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px 0 10px;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.bottle-cap-div {
  background-color: #000;
  border-radius: 3px;
  width: 76px;
  height: 20px;
  margin-bottom: 2px;
}

.bottle-overflow-div {
  background-color: #242424;
  position: absolute;
  margin-top: 18px;
  width: 65px;
  height: 3px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  background-color: transparent;
  display: block;
  z-index: 10;
}

.bottle-overflow-div.full {
  /* background-color: var(--aquatic); */
  background-color: var(--color-main);
}

.bottle-overflow-div.full:hover,
.bottle-overflow-div.full:focus {
  /* background-color: var(--thumb-aquatic); */
  background-color: var(--color-thumb);
}

.bottle-slider-root {
  display: flex;
  position: relative;
  height: 11rem;
}

.bottle-slider-root:active,
.bottle-slider-root:hover {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(197, 197, 197, 0.5);
}

.bottle-slider-range {
  /* background-color: var(--aquatic); */
  background-color: var(--color-main);
  box-shadow: -2px 0 0 0 #000;
  position: absolute;
  width: 100px;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bottle-slider-range.full {
  width: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bottle-slider-track {
  background-color: transparent;
  border: 2px solid #000;
  border: 2px solid #000;
  border-radius: 0.75rem;
  border-radius: 12px;
  flex-grow: 1;
  flex-grow: 1;
  position: relative;
  position: relative;
  width: 100px;
  width: 100px;
}

.bottle-slider-track.full:active {
  box-shadow: 0 0 50px rgba(197, 197, 197, 0.5);
}

.bottle-thumb-full {
  width: 100px;
  outline: none;
  height: 14px;
  display: block;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;

  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  border-color: #000;
  position: relative;
}

.bottle-thumb-full:hover,
.bottle-thumb-full:focus {
  /* background-color: var(--thumb-aquatic); */
  background-color: var(--color-thumb);
  height: 12px;
  border-bottom-style: none;
}

.bottle-thumb-div {
  width: 100px;
  margin-left: 2px;
  outline: none;
  height: 12px;
  display: block;
}

.bottle-thumb-div:hover,
.bottle-thumb-div:focus {
  /* background-color: var(--thumb-aquatic); */
  background-color: var(--color-thumb);
  height: 12px;
  border-bottom-style: none;
}

.bottle-thumb-empty {
  width: 100px;
  margin-left: 2px;
  outline: none;
  height: 12px;
  display: block;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border-color: #000;
  background-color: transparent;
  position: relative;
}

.bottle-thumb-empty:hover,
.bottle-thumb-empty:focus {
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-color: #000;
  /* background-color: var(--aquatic); */
  background-color: var(--color-main);
  opacity: 65%;
  margin-bottom: 4px;
}

.ounces-p {
  font-weight: bold;
  margin-bottom: 0;
}
/* .bottle-slider-thumb:hover, */
/* .bottle-slider-thumb:focus { */
/* background-color: var(--aquatic); */
/* } */
/* 
.bottle-slider-thumb.bottom {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-width: 0;
  height: 14px;
}

.bottle-slider-thumb.top {
  kborder-top-width: 2px;
  border-bottom-width: 0;
  border-color: #000;
  border-left-width: 2px;
  border-right-width: 2px;
} */
.bottle-blue {
  --color-main: var(--river);
  --color-thumb: var(--thumb-river);
}

.bottle-pink {
  --color-main: var(--kapowski);
  --color-thumb: var(--thumb-kapowski);
}

.bottle-orange {
  --color-main: var(--tangerine);
  --color-thumb: var(--thumb-tangerine);
}

.bottle-green {
  --color-main: var(--melon);
  --color-thumb: var(--thumb-melon);
}
