.routine-container-span {
  display: flex;
  flex-direction: row;
  
}
.entry-routine-li {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: -10px 0 -10px 0;
  font-size: larger;
}

.entry-routine-li input[type='checkbox'] {
  margin-right: 10px;
}

.routine-name-p {
  padding 0 5px;
}
