@import url('../../css/colors.css');

.errands-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errands-container ul {
  padding: 0;
}

.errands-title-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.errands-form-button-container-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.errands-form {
  display: flex;
  align-items: center;
  width: 100%;
}

.errands-form input {
  width: 100%;
  margin-right: 2px;
}

.errands-form button {
  margin: 0 1px;
}

.edit-errands-svg {
  width: 18px;
  height: 18px;
  background-image: url('edit-pencil.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.errand-li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  color: var(--aquatic);
  width: 300px;
}

.errand-li-dropped {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  color: var(--aquatic);
  width: 300px;
}

/* .dropped {
  border: 1px solid #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgba(15, 15, 15, 0.75); 
} */

/* .errand-li-input-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
} */

.errand-checkbox-p-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.errand-li input[type='checkbox'] {
  margin-right: 20px;
}

.errand-name-p {
  text-align: left;
  padding: 0 5px;
  cursor: pointer;
}

.errands-title-div h2,
.errands-title-div.errands-delete-button {
  margin: 0;
}

.detail-container-div {
  background-color: rgb(15, 15, 15, 0.75);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  bottom: 100%;
  width: 300px;
  overflow-y: auto;
}

.detail-drop-delete-button {
  font-weight: 650;
  border-radius: 10px;
  background-color: rgb(214, 22, 22);
  margin: 5px;
  padding: 3px;
  width: 80px;
}

/* B!!!! */
.table-b {
  /* margin-top: 10px; */
}

.table-b th,
td {
  padding: 0 5px;
}

.table-b th {
  font-weight: 600;
}

.table-time-td {
  font-style: italic;
}

.detail-container-div {
  border: 1px black solid;
  border-bottom-radius: 10px;
}

.detail-container-div .table-b tr:nth-child(odd) {
  background-color: rgba(24, 190, 228, 0.25);
  /* --aquatic: rgb(24, 190, 228); */
}

.detail-container-div .table-b th {
  padding-left: 7px;
  text-align: left;
  width: 80px;
}

.detail-container-div .table-b td {
  font-style: italic;
  padding-right: 8px;
  text-align: right;
}

.detail-container-div .table-b .errand-drop-id th {
  text-align: start;
  vertical-align: text-top;
}
